html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}
.spapp {
  display: grid;
  grid-template-areas:
    "top_menu top_menu top_menu"
    "left_panel center_panel right_panel"
    "footer footer footer";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  gap: 4px;
  background-color: rgb(115, 114, 155);
  height: 100%;
  position: relative;
}
.top_menu {
  grid-area: top_menu;
  overflow: hidden;
  display: flex;
  position: relative;
}
.left_panel {
  grid-area: left_panel;
  overflow: hidden;
  display: flex;
  position: relative;
}
.center_panel {
  grid-area: center_panel;
  overflow: hidden;
  display: flex;
  position: relative;
}
.right_panel {
  grid-area: right_panel;
  background-color: rgb(64, 61, 95);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  overflow: hidden;
  display: flex;
  position: relative;
}
.footer {
  grid-area: footer;
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
  position: relative;
}
